body {
    min-height: 200vh;
    background: url('../img/nightcity.jpg') no-repeat;
    background-position: center;
}
.header {
    position: sticky;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
* {
    box-sizing:border-box;
    font-family: "Allan", serif;
}
.logo {
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    position: relative;
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    height: 2px;
    background: #fff;
}
.navbar a:hover::before {
    width: 100%;
}