body {
    min-height: 200vh;
    background: url('../img/nightcity.jpg') no-repeat;
    background-position: center;
}
.header {
    position: sticky;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
* {
    box-sizing:border-box;
    font-family: "Allan", serif;
}
.logo {
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.navbar a {
    position: relative;
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    transition: color 0.5s ease;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    height: 0px;
    background: #fff;
}
.navbar a:hover::before {
    width: 100%;
}
a:hover::after {
  opacity: 1;
  animation: shimmer111 2s linear infinite !important;
}
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #A6A6A6, transparent);
  background-size: 300% 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
a:hover {
  color: #A6A6A6;
}
a:hover::after {
  opacity: 1;
  animation: shimmer111 2s linear infinite !important;
}

@keyframes shimmer111 {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}