body {
    min-height: 200vh;
    background: url('../img/nightcity.jpg') no-repeat;
    background-position: center;
}
.header {
    position: sticky;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
* {
    box-sizing:border-box;
    font-family: "Allan", serif;
}
.logo {
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.navbar a {
    position: relative;
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    transition: color 0.5s ease;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    height: 0px;
    background: #fff;
}
.navbar a:hover::before {
    width: 100%;
}
a {
  text-decoration: none;
  transition: all 0.4s;
  position: relative;
  border: 2px solid transparent;
}

a:hover {
  border: 2px solid #8038b1;
  box-shadow: 10 10 10px 5px rgba(166, 166, 166, 0.2);
  background-color: rgba(166, 166, 166, 0.1);
}